#satauri1{
   color: #000000;
}
#paragrafi1{
    color: #FF0000;
}
#satauri2{
    color: #2400FF;
}
#paragrafi2{
    color:#FF2929;
}
#satauri3{
    color: #00461C;
}
#paragrafi3{
    color: #000000;
}